.header {
  display: flex;
  justify-content: space-between;
}

.header__box {
  display: flex;
  gap: 0.9rem;
}

.header__heading {
}

.header__number {
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0.4rem 1.1rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.6rem;
}

.header__button {
  border: none;
  background-color: transparent;
  color: var(--grey-blue-2);
  cursor: pointer;
  transition: all 0.2s;
}

.header__button:hover {
  color: var(--blue);
}
