.notification {
  display: flex;
  gap: 1.3rem;
  padding: 1.8rem 2rem;
  border-radius: 0.8rem;
}

.notification__image {
  width: 4.5rem;
  height: 4.5rem;
}

.notification__details-box {
  display: grid;
  gap: 0.3rem;
}

.notification__name {
  color: var(--grey-blue-3);
}

.notification__details {
  color: var(--grey-blue-2);
}

.notification__link {
  color: var(--blue);
  text-decoration: none;
}

.notification__link:visited {
  color: var(--grey-blue-2);
}

.notification__time {
  color: var(--grey-blue-1);
}

.notification__unread {
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--red);
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.6rem;
}
/* UTILITIES */
.unread {
  background-color: var(--light-blue-1);
}
